  {% extends 'edc_base/base.html' %}

  {% load staticfiles %}
  {% load crispy_forms_tags %}

  {% block extra-scripts %}
    <script type="text/javascript" src="{% static "" %}"></script>
  {% endblock extra-scripts %}

  {% block main %}

   <div class="container">
   
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body"> {% crispy form %}
				<a href="{% url 'edc_pharma_admin:edc_pharma_patient_add' %}" class="btn btn-sm btn-default" role="button">Add Patient</a>
            </div>
          </div>          
        </div>
      </div>

      <div class="col-md-12">
        <div class="panel panel-success">
          <div class="panel-heading"> Registered Subjects </div>
            <div class="panel-body">
                <table id="tbl-dispense-data" class="table table-striped table-responsive">
        			<thead><th> Subject Identifier </th><th> Initials </th> <th> Gender </th> <th> Age </th> <th> Consent date </th> <th></th></thead>
        				<tbody>
      							{% for patient in patients %}
          					<tr> 
            					<td><a href="{% url 'edc_pharma_admin:edc_pharma_patient_change' patient.pk %}">{{ patient.subject_identifier }}</a></td>
            					<td>{{ patient.initials }}</td>
            					<td>{{ patient.gender }}</td>
            					<td> {% if patient.age %} {{ patient.age }} {% endif %}</td>
            					<td>{{ patient.consent_datetime|date:"D, d M Y" }}</td>
            					<td> <a href="{% url 'patient_url' patient.subject_identifier %}" class="btn btn-sm btn-default" role="button"> Dispense Record</a> </td>                    
            				</tr>
     							{% endfor %}
     					<t/body>
     			</table>
            </div>
        </div>
      </div>
      
    <div class="paginator" style="text-align:center">
     <span class="step-links">
     	{% if patients %}
    	 <a href="{% url 'home_url' page=1 %}" class="btn btn-sm btn-default"><<</a>
    	{% else %}
    	<a class="btn btn-sm disabled btn-default"><<</a>
    	{% endif %}
    	
        {% if patients.has_previous %}
            <a href="{% url 'home_url' page=patients.previous_page_number %}" class="btn btn-sm btn-default"><</a>
        {% else %}
        	<a class="btn btn-sm disabled btn-default"><</a>
        {% endif %}

		{% if patients %}
        	<span class="text small">
            	Page {{ patients.number }} of {{ patients.paginator.num_pages }}
        	</span>
        {% else %}
        	<span class="text small">
            	Page 1 of 1
        	</span>        
        {% endif %}
        
        {% if patients.has_next %}
            <a href="{% url 'home_url' page=patients.next_page_number %}" class="btn btn-sm btn-default">></a>
        {% else %}
        	<a class="btn btn-sm disabled btn-default">></a>
        {% endif %}
        
        {% if patients %}
        	<a href="{% url 'home_url' page=patients.paginator.num_pages %}" class="btn btn-sm btn-default">>></a>
        {% else %}
        	<a class="btn btn-sm disabled btn-default">>></a>
        {% endif %}       
    </span>
    </div>
      
  </div>

{% endblock main %}